.home:hover{
    border-bottom: 1.5px solid orange;
}
.about:hover{
    border-bottom: 1.5px solid orange;
}
.service:hover{
    border-bottom: 1.5px solid orange;
}
.contact:hover{
    border-bottom: 1.5px solid orange;
}
.terms:hover{
    border-bottom: 1.5px solid orange;
}
.menu:hover{
    border-bottom: 1.5px solid orange;
}
.menu-item .active{
    border: 3px solid greenyellow;
    border-radius: 50px;
}

.custom-card{
    width: 100%;
    max-width: 28rem;
    margin-top: 25px;
}

.card-container-1{
    height: 220px;
    padding: 1rem;
}

.services {
    transform: translateX(0px) translateY(0px);
    transition: transform 0.4s cubic-bezier(0.25, 1, 0.5, 1), box-shadow 0.4s ease;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.services:hover {
    transform: translateY(-10px) scale(1.05);
    transition: transform 0.3s cubic-bezier(0.25, 1, 0.5, 1), box-shadow 0.3s ease;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
/* Container and Card Styling */
.card-body {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 2rem;
  }
  
  h1 {
    color: #007bff;
    font-size: 2.5rem;
    font-weight: bold;
  }
  
  .accordion-button {
    background-color: #007bff !important;
    color: white !important;
  }
  
  .accordion-button:not(.collapsed) {
    background-color: #0056b3 !important;
  }
  
  .accordion-item {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 1rem;
  }
  
  .accordion-body {
    font-size: 1.1rem;
    color: #333;
  }
  
  button {
    border-radius: 25px;
  }
  
  .no-caret .dropdown-toggle::after {
    display: none;
  }

  .dropdown-menu{
    --bs-dropdown-min-width: 8rem;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .card-body {
      padding: 1.5rem;
    }
  
    h1 {
      font-size: 2rem;
    }
  
    .accordion-body {
      font-size: 1rem;
    }
  }
  
@media (min-width:240px) and (max-width:768px) {
    .custom-card .card-container-1{
        width: 22rem;
        height: auto;
        overflow: hidden;
        margin-bottom: 10px;
    }
    .custom-card .card-title{
        font-size: 1.25rem;
    }
    .custom-card .card-text{
        font-size: 1rem;
    }
    .custom-card .card-link{
        font-size: 0.9rem;
    }
}